/* ===== GLOBAL BACKGROUND ===== */
body {
    margin: 0;
    min-height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background:
        linear-gradient(
            rgba(10, 40, 80, 0.75),
            rgba(10, 40, 80, 0.75)
        ),
        url("/static/uploads/image.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* ===== GLASS CARD EFFECT ===== */
.glass-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.4);
}

/* ===== BUTTONS ===== */
.btn-main {
    background: #00c6ff;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    border: none;
    color: white;
    font-weight: 600;
}

.btn-main:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

/* ===== NAVBAR ===== */
.navbar {
    background: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
}

/* ===== PROFILE IMAGE ===== */
.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
}
